/* 公共 */
.div_display {
	display: flex;
}

.padding_left3 {
	padding-left: 3%;
}

.padding_right3 {
	padding-right: 3%;
}

.padding_left0 {
	padding-left: 0;
}

.padding_left2 {
	padding-left: 2%;
}

.padding_tbl_3 {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
}

.padding_top3 {
	padding-top: 3%;
}

.padding_top8 {
	padding-top: 8%;
}

.padding_bottom3 {
	padding-bottom: 3%;
}

.padding_bottom8 {
	padding-bottom: 8%;
}

.padding3 {
	padding: 3%;
}

.margin_top_tit {
	margin-top: 2.8125rem;
}

.margin_top2 {
	margin-top: 2%;
}

.margin_top3 {
	margin-top: 3%;
}

.margin_top5 {
	margin-top: 5%;
}

.margin_top8 {
	margin-top: 8%;
}

.margin_top40 {
	margin-top: 40%;
}

.margin_bottom3 {
	margin-bottom: 3%;
}

.margin_right3 {
	margin-right: 3%;
}

.margin_right5 {
	margin-right: 5%;
}

.margin_left3 {
	margin-left: 3%;
}

.margin_left8 {
	margin-left: 8%;
}

.background_colorff {
	background-color: #FFFFFF;
}

.background_colorf8 {
	background-color: #F8F8F8;
}

/* 字体 */
.font_size_38 {
	font-size: 2.375rem;
}
.font_size30{
	font-size: 1.875rem;
}
.font_size25 {
	font_size: 1.5625rem
}

.font_size18 {
	font-size: 1.125rem;
}

.font_size16 {
	font-size: 1rem;
}

.font_size15 {
	font-size: 0.9375rem;
}

.font_size14 {
	font-size: 0.875rem;
}

.font_size13 {
	font_size: 0.8125rem;
}

.font_size12 {
	font-size: 0.75rem;
}

.font_color1A {
	color: #1A202C;
}

.font_color_E6 {
	color: #E6435A;
}

.font_color3f {
	color: #3F454B;
}

.font_color_99 {
	color: #999999;
}

.font_colorA1 {
	color: #A1A1A1;
}

.font_colorff {
	color: #FFFFFF;
}

.font_color00 {
	color: #008BD5;
}

.font_colorf5 {
	color: #F52D56;
}

.font_color99 {
	color: #999999;
}

/* div */
.img_border_r14 {
	width: 0.875rem;
	height: 0.875rem;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	/* overflow: hidden; */
}

/* 订单列表 */
.order_s_lj {
	height: 1.875rem;
	width: 0.0625rem;
	border-left: 0.0625rem #000000 dashed;
	margin-left: 18%;
}

.text_over_hidden {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 订单详情 */
.img_border_r {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: #E9EAEA;
	overflow: hidden;
	border: 1px solid #E9EAEA;
	text-align: center;
}

.order_btn {
	border: 1px solid #F52D56;
	color: #F52D56;
	font-size: 0.8125rem;
	text-align: center;
	border-radius: 0.3125rem;
	width: 70%;
	margin-left: 15%;
}

.pay_btn {
	width: 90%;
	margin-left: 5%;
	background-color: #008BD5;
	color: #FFFFFF;
	text-align: center;
	font-size: 1rem;
	line-height: 2.5;
	border-radius: 0.3125rem;
}

.order_p_j {
	border-top: 0.0625rem solid #E9E9E9;
	margin-top: 10%;
	width: 100%;
	height: 0.625rem;
}

/* 支付 */
.payOrder_div {
	width: 90%;
	margin-left: 5%;
	border-top: 0.0625rem solid #E2E2E2;
	margin-top: 8%;
}

.order_pay_btn {
	width: 90%;
	margin-left: 5%;
	color: #FFFFFF;
	background-color: #008BD5;
	font-size: 1rem;
	border-radius: 0.1875rem;
	text-align: center;
	margin-top: 40%;
	line-height: 2.5;
}

/* 同城寄语*/
.city_border_r {
	/* height: 3.25rem; */
	border-radius: 4rem;
	width: 95%;
	margin-left: 2%;
	background-color: #CBEDFF;
}

.city_img_b {
	width: 1.0625rem;
	height: 1.0625rem;
	border-radius: 50%;
	text-align: center;
}

.order_sh_zt {
	border: 0.0625rem solid #008BD5;
	color: #008BD5;
	width: 25%;
	text-align: center;
	font-size: 0.75rem;
	float: right;
	margin-top: 3%;
	border-radius: 0.1875rem;
}

.order_sh_sb {
	border: 0.0625rem solid #F52D56;
	color: #F52D56;
	width: 25%;
	text-align: center;
	font-size: 0.75rem;
	float: right;
	margin-top: 3%;
	border-radius: 0.1875rem;
}
